.about-section{
    padding-bottom: 15px;
}
.about-container{
    padding: 50px 50px 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-img img{
    margin: 10px;
    background: #1f2227;
    box-shadow: 0px 0px 45px 10px #373838;
    padding: 20px;
    width: 250px;
    border-radius: 130px;
}
.about-info{
    text-align: center;
    margin-top: 10px;
}
.about-info h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.about-info span{
    color: #ff014f;
}
.about-info p{
    font-family: 'Roboto Condensed', sans-serif;
    color: lightgray;
}
.social-area{
    text-align: center;
}
.social-area h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}
.social-area span{
    color: #ff014f;
}
.social-icon{
    display: flex;
    margin: 50px;
}
.social-icon a{
    color: #a21c44;
    font-size: 22px;
    margin: 10px;
    transition: 0.3s ease-in-out;
    background: #292a2b;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 0 8px #202021;
}
.social-icon a:hover{
    color: #ce0d47;
}